<% provide :title, .about" %>
<h1><%= "about" %></h1>
<p>
  <%= "the" %> <a href="http://www.railstutorial.org/">
   <em><%= "ruby_slogan" %></em></a> <%= "is_a" %>
  <a href="http://www.railstutorial.org/book"><%= "book" %></a>
   <%= "and" %>
  <a href="http://screencasts.railstutorial.org/"><%= "about_phrase1" %> </a>
  <%= "about_phrase2" %>
  <a href="http://rubyonrails.org/"><%= "ruby_on_rails" %></a>.
  <%= "about_phrase3" %>.
</p>
