<% provide :title, "help" %>
<h1><%= "help" %></h1>
<p>
  <%= "help_phrase1" %>
  <a href="http://www.railstutorial.org/help"><%= "help_section" %></a>.
  <%= "help_phrase2" %>
  <a href="http://www.railstutorial.org/book"><em><%= "ruby_slogan" %></em>
  <%= "book" %></a>.
</p>
